*{
  margin: 0;
  padding: 0;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgb(219, 144, 5) 0%, rgb(220, 220, 226) 50%, rgba(127, 127, 134, 0.562) 100%);
}
.content-dp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}
.content-dp .image img{
  width: 100%;
}
.image{
  width: 100%;
}
.user-info{
  width: 100%;
  text-align: center;
}
.user-info p{
  font-size: 20px;
  margin-top: 1em;
}
.click-btn{
  border: none;
  width: 10em;
  height: 2.5em;
  background: black;
  margin-top: 1.8em;
  color: transparent;
  border-radius: 2em;

}
.click-btn a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.click-btn:hover{
  background: rgb(56, 56, 56);
}
.click-btn:active{
  background: rgb(87, 87, 87);
}

@media only screen and (max-width: 768px){

  .content-dp{
  width: 90%;
flex-direction: column;
    
  }
  .content-dp .image img{
    width: 100%;
  }

  
}
